

		<main role="main">
			<main role="main">
				<div id="intro-wrap">
					<div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fadeUp">					
						<div class="intro-item" style="background-image: url(myimg/background-.jpg);">
							<div class="caption">
								<p style="margin-bottom: -12px; font-size:0.9em;">1000文字1500円のES添削サービス</p>
								<h2>ESTASS</h2>
								<p>エントリーシートの書き方がわからない。
								<br>書いてみたけどは良いけど自信がない。
								<br>ESTASSはそんな皆さんのためのサービスです。
								<br>あなたも丁寧な添削指導を受けて、次のステップに進みませんか？
								</p>
<a class="button white transparent" href="#main">Read More</a>

							</div><!-- caption -->				
						</div>									

					</div>																		
				</div><!-- intro -->
			</div><!-- intro-wrap -->

			<div id="main">

				<section class="row section text-light" style="background-color:#4fcead;">
					<div class="row-content buffer even clear-after">	
						<div class="column seven">
							<h2>サービス内容</h2>
							<p>ESTASSでは、1000文字につき1500円というリーズナブルな料金で
							<br>あなたのエントリーシートをていねいに添削します。
							<br>就職活動で最も大切で、最も難しい、
							<br>自分を客観的に見つめ、表現する方法を一緒に身につけましょう。</p>
						</div>
						<div class = "column five last">
							<div><img src="http://placehold.it/1008x756/ddd/fff&text=ESTASS%20image" alt=""></div>

						</div>
					</div>	
				</section>	


				<div id="feature">
				<section class="row section text-light" style="background-color: #FC6E51">
					<div id = "first">
						<div class="row-content buffer even clear-after">
												<div class="section-title"><h3 style = "font-size:22px;margin-top:0px;">ESTASSの３つの特色</h3></div>
							<div class="column four centertxt">
								<div class="big-icon red"><i class="icon icon-diamond"></i></div>
								<div class="big-icon-text clear-after">
									<h4>低価格さ</h4>
									<p class="text-s">ESTASSは低価格・高品質が売りです。
									<br>より多くの方に使ってもらうために
									<br>教室を持たない、広告を抑えるなど
									<br>経費をかけない工夫をしています。
									</p>
								</div>
							</div>
							<div class="column four centertxt">
								<div class="big-icon red"><i class="icon icon-paperfly"></i></div>
								<div class="big-icon-text clear-after">
									<h4>迅速さ</h4>
									<p class="text-s">ESTASSは48時間以内に添削を終えます。
									<br>提出期限が迫っている人も
									<br>期限までに何度も手直ししたい人も
									<br>安心してご利用ください。</p>
								</div>
							</div>						
							<div class="column four last centertxt">
								<div class="big-icon red"><i class="icon icon-leaf"></i></div>
								<div class="big-icon-text clear-after">
									<h4>丁寧さ</h4>
									<p class="text-s">
									文章の良いところはどこで
									<br>悪いところはどう直せばいいのか。
									<br>ESTASSは、あなたのことを考え
									<br>真に寄り添ったサービスを提供します。</p>
								</div>
							</div>
						</div>
					</div>
				</section>	
				</div>

				<div id="target">
				<section class="row section text-light" style="background-color:#4FC1E9">
					<div class="row-content buffer even clear-after">	
						<div class="column seven">
							<h2>OB・OG訪問の前に</h2>
							<p>ESTASSを使うと志望企業の社員さんに会ったとき
							<br>「先輩、ちょっとコレ見てもらっていいですか？」
							<br>が言いやすくなります。
							<br>私たちが、あなたの就職活動の始めの一歩を
							<br>サポートします。</p>
						</div>
						<div class = "column five last">
							<div><img src="http://placehold.it/1008x756/ddd/fff&text=ESTASS%20image" alt=""></div>

						</div>
					</div>	
				</section>	

				<section class="row section text-light" style="background-color:#FFCE54">
					<div class="row-content buffer even clear-after">	
						<div class="column six" style = "float:right; margin-right:0px">
							<h2>地方在住で頼れる人がいない時に</h2>
							<p>誰かに見てもらいたいけど、近くに頼れる人がいない方。
							<br>そんな方にこそ、ESTASSです。
							<br>私たちはWEBを通じて「いつでも、どこでも、誰にでも」
							<br>高品質なサービスを提供しています。</p>
						</div>
						<div class = "column five last" style= "float:left">
							<div><img src="http://placehold.it/1008x756/ddd/fff&text=ESTASS%20image" alt=""></div>

						</div>
				</div>	
			</section>

			<section class="row section text-light" style="background-color:#4FC1E9">
					<div class="row-content buffer even clear-after">	
						<div class="column seven">
							<h2>自信を持ちたいあなた</h2>
							<p>就職活動において、自信がある人は強いです。
							<br>ESTASSは、初めの一歩を踏み出すあなたを応援します。</p>
						</div>
						<div class = "column five last">
							<div><img src="http://placehold.it/1008x756/ddd/fff&text=ESTASS%20image" alt=""></div>

						</div>
					</div>	
				</section>
				</div>

			<div id="price">
			<section class="row section text-light" style="background-color: #FF8CB9;">
				<div class="row-content buffer even clear-after">
					<div class="section-title"><h3 style = "font-size:22px;margin-top:0px;">料金設定</h3></div>
					<div class="column four centertxt">
								<div class="big-icon red"><i class="icon icon-diamond"></i></div>
								<div class="big-icon-text clear-after">
									<h4>通常プラン</h4>
									<p class="text-s">1000文字につき1500円の基本プランです。
									<br>入金確認後48時間以内に添削します。</p>
									<a class="button transparent white" href="#">¥ 1500</a>
								</div>
							</div>
							<div class="column four centertxt">
								<div class="big-icon red"><i class="icon icon-multiview"></i></div>
								<div class="big-icon-text clear-after">
									<h4>２回目プラン</h4>
									<p class="text-s">2回目以降ご利用の方には
									<br>500円引きでサービスします。</p>
									<a class="button transparent white" href="#">¥ 1000</a>
								</div>
							</div>						
							<div class="column four last centertxt">
								<div class="big-icon red"><i class="icon icon-paperfly"></i></div>
								<div class="big-icon-text clear-after">
									<h4>特急オプション</h4>
									<p class="text-s">基本プランを24時間以内に行います。
									<br>お急ぎの方はこちらをどうぞ。</p>
									<a class="button transparent white" href="#">+ ¥500</a>
								</div>
							</div>
				</div>
			</section>
			</div>	


			<!-- メンバー紹介っぽいところ
			<section class="row section text-light" style="background-color:#4FC1E9;">
				<div class="row-content buffer even clear-after">
					<div class="section-title"><h3>The Best Team in the World</h3></div>
					<div class="column three">
						<figure class="about-us">
							<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
							<figcaption>
								<h4>Michael Dean</h4>
								<p>UI/UX designer</p>
								<div class="meta-social">
									<ul class="inline">
										<li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
										<li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
										<li><a href="#" class="pinterest-share border-box"><i class="fa fa-pinterest fa-lg"></i></a></li>
									</ul>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="column three">
						<figure class="about-us">
							<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
							<figcaption>
								<h4>Phoenix Morgan</h4>
								<p>CEO and Head of Design</p>
								<div class="meta-social">
									<ul class="inline">
										<li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
										<li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
										<li><a href="#" class="pinterest-share border-box"><i class="fa fa-pinterest fa-lg"></i></a></li>
									</ul>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="column three">
						<figure class="about-us">
							<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
							<figcaption>
								<h4>Helen Beck</h4>
								<p>Public Relations</p>
								<div class="meta-social">
									<ul class="inline">
										<li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
										<li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
										<li><a href="#" class="pinterest-share border-box"><i class="fa fa-pinterest fa-lg"></i></a></li>
									</ul>
								</div>
							</figcaption>
						</figure>
					</div>							
					<div class="column three last">
						<figure class="about-us">
							<img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
							<figcaption>
								<h4>Craig Edwards</h4>
								<p>Web Developer</p>
								<div class="meta-social">
									<ul class="inline">
										<li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
										<li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
										<li><a href="#" class="pinterest-share border-box"><i class="fa fa-pinterest fa-lg"></i></a></li>
									</ul>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
			</section>	-->				
			<div id="users">
			<section class="row section text-light" style="background-color:#3BAFDA;">
				<div class="row-content buffer even clear-after">
					<div class="section-title"><h3>利用者の声</h3></div>
					<div class="testimonial-slider" data-autoplay="5000" data-pagination="true" data-transition="fade" data-autoheight="false">
						<div class="quote">
							<div class="column two">
								<figure class="testimonial-img">
									<img src="http://placehold.it/600x600/ddd/fff&text=ESTASS%20image" alt="">
								</figure>
							</div><!-- column -->
							<div class="column ten last">
								<p>"初めて提出したエントリーシートは不採用でした。自分ではどこに問題があったかわからず、このまま就職活動を続けるのが不安だったため利用しました。estasはどこが良くて、どこが悪いのかをわかりやすくコメントしてくれるだけでなく、どういうことを書いたり、またどういう書き方をすればいいか教えてくれたので、その後の就職活動にいかすことができました。不採用の原因究明に、使ってみるといいと思いました。</p>
								<div class="author">女性, 慶應義塾大学（理系）, メーカー志望</div>
							</div><!-- column -->
						</div><!-- quote -->
						<div class="quote">
							<div class="column two">
								<figure class="testimonial-img">
									<img src="http://placehold.it/600x600/ddd/fff&text=ESTASS%20image" alt="">
								</figure>
							</div><!-- column -->
							<div class="column ten last">								
								<p>"とにかくどうしたらいいかわからなかったので、本当に助かりました。自分を客観的に見ていただき、自信がつきました！"</p>
								<div class="author">男性, 神奈川大学（文系）, 銀行志望</div>
							</div><!-- column -->
						</div><!-- quote -->		
						<div class="quote">
							<div class="column two">
								<figure class="testimonial-img">
									<img src="http://placehold.it/600x600/ddd/fff&text=ESTASS%20image" alt="">
								</figure>
							</div><!-- column -->
							<div class="column ten last">									
								<p>"私の周りには最近の就職活動について相談できる人が１人もいませんでした。そんな中、ESTASSをツイッターで見つけ、使ってみると、本当に自分のことを考えてくれているんだなあというアドバイスを貰うことができました。無事、地元の企業に内定をもらうこともでき、満足しています。"</p>
								<div class="author">女性, 西南学院大学（文系）, 銀行志望</div>
							</div><!-- column -->									
						</div><!-- quote -->							
					</div><!-- testimonial-slider -->				
				</div>
			</section>	
			</div>


			<section class="row section call-to-action">
				<div class="row-content buffer even animation">
					<p>まずは無料登録をする！</p>
					<%= link_to "登録",new_user_registration_path, :class=>"button red",:style=>"margin:7px -10px 0px 0px" %>
				</div>
			</section>				

		</div><!-- id-main -->
	</main><!-- main -->

	<footer role="contentinfo">
		<div class="row">
			<div class="row-content buffer clear-after">
				<section id="bottom-footer">
					<p class="keep-left"> </p>
					<p class="keep-right">&copy; 2015 <a href="http://www.kipri.co.jp/" alt="Kipri, Co.">Kipri Co., Ltd.</a>All Rights Reserved.</p>
				</section><!-- bottom-footer -->			
			</div><!-- row-content -->	
		</div><!-- row -->	
	</footer>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>		
	<script src="js/plugins.js"></script>
	<script src="js/beetle.js"></script>
	<script>
	$(function(){
		$('a[href^=#]').click(function(){ 
        var speed = 500; //移動完了までの時間(sec)を指定
        var href= $(this).attr("href"); 
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top;
        $("html, body").animate({scrollTop:position}, speed, "swing");
        return false;
      });
	});
	</script>