

		<main role="main">
			<main role="main">
				<div id="intro-wrap">
					<div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fadeUp">					
						<div class="intro-item" style="background-image: url(myimg/background-.jpg);">
							<div class="caption">
								<p style="margin-bottom: -12px; font-size:0.9em;">1000文字1500円のES添削サービス</p>
								<h2>ESTASS</h2>
								<p>エントリーシートの書き方がわからない。
								<br>書いてみたけどは良いけど自信がない。
								<br>ESTASSはそんな皆さんのためのサービスです。
								<br>あなたも丁寧な添削指導を受けて、次のステップに進みませんか？
								</p>
								<a class="button white transparent" href="#main">事前登録受付中</a>

							</div><!-- caption -->				
						</div>									

					</div>																		
				</div><!-- intro -->
			</div><!-- intro-wrap -->

			<div id="main">

				<section class="row section text-light" style="background-color:#4fcead;">
					<div class="row-content buffer even clear-after">	
						<div class="column seven">
							<h2>サービス内容</h2>
							<p>ESTASSでは、1000文字につき1500円というリーズナブルな料金で
							<br>あなたのエントリーシートをていねいに添削します。
							<br>就職活動で最も大切で、最も難しい、
							<br>自分を客観的に見つめ、表現する方法を一緒に身につけましょう。</p>
						</div>
						<div class = "column five last">
							<div><img src="http://placehold.it/1008x756/ddd/fff&text=ESTASS" alt=""></div>

						</div>
					</div>	
				</section>	


				<div id="feature">
				<section class="row section text-light" style="background-color: #FC6E51">
					<div id = "first">
						<div class="row-content buffer even clear-after">
												<div class="section-title"><h3 style = "font-size:22px;margin-top:0px;">ESTASSの３つの特色</h3></div>
							<div class="column four centertxt">
								<div class="big-icon red"><i class="icon icon-diamond"></i></div>
								<div class="big-icon-text clear-after">
									<h4>低価格さ</h4>
									<p class="text-s">ESTASSは低価格・高品質が売りです。
									<br>より多くの方に使ってもらうために
									<br>教室を持たない、広告を抑えるなど
									<br>経費をかけない工夫をしています。
									</p>
								</div>
							</div>
							<div class="column four centertxt">
								<div class="big-icon red"><i class="icon icon-paperfly"></i></div>
								<div class="big-icon-text clear-after">
									<h4>迅速さ</h4>
									<p class="text-s">ESTASSは48時間以内に添削を終えます。
									<br>提出期限が迫っている人も
									<br>期限までに何度も手直ししたい人も
									<br>安心してご利用ください。</p>
								</div>
							</div>						
							<div class="column four last centertxt">
								<div class="big-icon red"><i class="icon icon-leaf"></i></div>
								<div class="big-icon-text clear-after">
									<h4>丁寧さ</h4>
									<p class="text-s">
									文章の良いところはどこで
									<br>悪いところはどう直せばいいのか。
									<br>ESTASSは、あなたのことを考え
									<br>真に寄り添ったサービスを提供します。</p>
								</div>
							</div>
						</div>
					</div>
				</section>	
				</div>

				<div id="sceen">
				<section class="row section text-light" style="background-color:#4FC1E9">
					<div class="row-content buffer even clear-after">	
						<div class="column seven">
							<h2>OB・OG訪問の前に</h2>
							<p>ESTASSを使うと志望企業の社員さんに会ったとき
							<br>「先輩、ちょっとコレ見てもらっていいですか？」
							<br>が言いやすくなります。
							<br>私たちが、あなたの就職活動の始めの一歩を
							<br>サポートします。</p>
						</div>
						<div class = "column five last">
							<div><img src="http://placehold.it/1008x756/ddd/fff&text=ESTASS" alt=""></div>

						</div>
					</div>	
				</section>	

				<section class="row section text-light" style="background-color:#FFCE54">
					<div class="row-content buffer even clear-after">	
						<div class="column six" style = "float:right; margin-right:0px">
							<h2>地方在住で頼れる人がいない時に</h2>
							<p>誰かに見てもらいたいけど、近くに頼れる人がいない方。
							<br>そんな方にこそ、ESTASSです。
							<br>私たちはWEBを通じて「いつでも、どこでも、誰にでも」
							<br>高品質なサービスを提供しています。</p>
						</div>
						<div class = "column five last" style= "float:left">
							<div><img src="http://placehold.it/1008x756/ddd/fff&text=ESTASS" alt=""></div>

						</div>
				</div>	
			</section>

			<section class="row section text-light" style="background-color:#4FC1E9">
					<div class="row-content buffer even clear-after">	
						<div class="column seven">
							<h2>自信を失った時に</h2>
							<p>就職活動をしていると、<br>自信がなくなる場面がたくさんあります。
							<br>そんなときこそ原点に戻り、	
							<br>私たちと、志望動機や自己PRを磨きましょう。</p>
						</div>
						<div class = "column five last">
							<div><img src="http://placehold.it/1008x756/ddd/fff&text=ESTASS" alt=""></div>

						</div>
					</div>	
				</section>
				</div>

			<div id="price">
			<section class="row section text-light" style="background-color: #FF8CB9;">
				<div class="row-content buffer even clear-after">
					<div class="section-title"><h3 style = "font-size:22px;margin-top:0px;">料金設定</h3></div>
					<div class="column four centertxt">
								<div class="big-icon red"><i class="icon icon-diamond"></i></div>
								<div class="big-icon-text clear-after">
									<h4>通常プラン</h4>
									<p class="text-s">1000文字につき1500円の基本プランです。
									<br>入金確認後48時間以内に添削します。</p>
									<%= link_to "¥ 1,500",new_user_registration_path, :class=>"button transparent white" %>

								</div>
							</div>
							<div class="column four centertxt">
								<div class="big-icon red"><i class="icon icon-multiview"></i></div>
								<div class="big-icon-text clear-after">
									<h4>２回目プラン</h4>
									<p class="text-s">2回目以降ご利用の方には
									<br>500円引きでサービスします。</p>
									<%= link_to "¥ 1,000",new_user_registration_path, :class=>"button transparent white" %>
								</div>
							</div>						
							<div class="column four last centertxt">
								<div class="big-icon red"><i class="icon icon-paperfly"></i></div>
								<div class="big-icon-text clear-after">
									<h4>特急オプション</h4>
									<p class="text-s">基本プランを24時間以内に行います。
									<br>お急ぎの方はこちらをどうぞ。</p>
									<%= link_to "¥ 2,000",new_user_registration_path, :class=>"button transparent white" %>
								</div>
							</div>
				</div>
			</section>
			</div>	
		



			<section class="row section call-to-action">
				<div class="row-content buffer even animation">
					<p>サービス開始は6月中旬です。まずは事前登録から！</p>
					<%= link_to "登録",new_user_registration_path, :class=>"button red",:style=>"margin:7px -10px 0px 0px" %>
				</div>
			</section>				

		</div><!-- id-main -->
	</main><!-- main -->

	<footer role="contentinfo">
		<div class="row">
			<div class="row-content buffer clear-after">
				<section id="bottom-footer">
					<p class="keep-left"> </p>
					<p class="keep-right">&copy; 2015 <a href="http://www.kipri.co.jp/" alt="Kipri, Co.">Kipri Co., Ltd.</a>All Rights Reserved.</p>
				</section><!-- bottom-footer -->			
			</div><!-- row-content -->	
		</div><!-- row -->	
	</footer>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>		
	<script src="js/plugins.js"></script>
	<script src="js/beetle.js"></script>
	<script>
	$(function(){
		$('a[href^=#]').click(function(){ 
        var speed = 500; //移動完了までの時間(sec)を指定
        var href= $(this).attr("href"); 
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top;
        $("html, body").animate({scrollTop:position}, speed, "swing");
        return false;
      });
	});
	</script>