    <main role="main">

      <div id="main">

        <section class="row section text-light" style="background-color:#4FCEAD;">
          <div class="row-content buffer even clear-after" style ="padding-top:0px;padding-bottom:0px">
            <div class="slogan animation">
              <h2>登録ありがとうございました。</h2> 
              <p>ESTASSは、６月中旬よりサービスを開始します。<p>サービス開始し次第、ご登録されたメールアドレスに、<br>ご連絡いたしますのでしばらくお待ち下さい。</p>           
            </div><!-- slogan -->       
          </div>
        </section>  


        
      <section class="row section text-light" style="background-color: #FF8CB9;">
        <div class="row-content buffer even clear-after">
          <div class="section-title"><h3 style = "font-size:22px;margin-top:0px;">料金設定</h3></div>
          <div class="column four centertxt">
                <div class="big-icon red"><i class="icon icon-diamond"></i></div>
                <div class="big-icon-text clear-after">
                  <h4>通常プラン</h4>
                  <p class="text-s">1000文字につき1500円の基本プランです。
                  <br>入金確認後48時間以内に添削します。</p>
                  <%= link_to "¥ 1,500",new_user_registration_path, :class=>"button transparent white" %>

                </div>
              </div>
              <div class="column four centertxt">
                <div class="big-icon red"><i class="icon icon-multiview"></i></div>
                <div class="big-icon-text clear-after">
                  <h4>２回目プラン</h4>
                  <p class="text-s">2回目以降ご利用の方には
                  <br>500円引きでサービスします。</p>
                  <%= link_to "¥ 1,000",new_user_registration_path, :class=>"button transparent white" %>
                </div>
              </div>            
              <div class="column four last centertxt">
                <div class="big-icon red"><i class="icon icon-paperfly"></i></div>
                <div class="big-icon-text clear-after">
                  <h4>特急オプション</h4>
                  <p class="text-s">基本プランを24時間以内に行います。
                  <br>お急ぎの方はこちらをどうぞ。</p>
                  <%= link_to "¥ 2,000",new_user_registration_path, :class=>"button transparent white" %>
                </div>
              </div>
        </div>
      </section>


      </div><!-- id-main -->
    </main><!-- main -->

    <footer role="contentinfo">
      <div class="row">
        <div class="row-content buffer clear-after">
          <section id="bottom-footer">
            <p class="keep-left"> </p>
            <p class="keep-right">&copy; 2015 <a href="http://www.kipri.co.jp/" alt="Kipri Co., Ltd.">Kipri Co., Ltd.</a>All Rights Reserved.</p>
          </section><!-- bottom-footer -->      
        </div><!-- row-content -->  
      </div><!-- row -->  
    </footer>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>    
    <script src="/js/plugins.js"></script>
    <script src="/js/beetle.js"></script>



